# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [90]:
#Import your libraries
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline 
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('svg')
import warnings
warnings.simplefilter('ignore')
import numpy as np

# Challenge 1 -  Explore the Internal Dataset

In this lab, we will start off by working with the wine dataset in scikit-learn. We will select the wine dataset and use a clustering algorithm to learn more about the functionalities of this library. 

We start off by loading the dataset using the `load_wine` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_wine.html)). In the cell below, we will import the function from scikit-learn.

In [91]:
from sklearn.datasets import load_wine

In the cell below, use the `load_wine` function and assign the wine dataset to a variable called `wine`.

In [92]:
# Your code here:
wine = load_wine()
wine.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In the next step, list the keys of the variable `wine` to examine its contents. Note that the `load_wine` function does not return dataframes. It returns you a Python dictionary.

In [93]:
# Your code here:
wine

{'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
         1.065e+03],
        [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
         1.050e+03],
        [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
         1.185e+03],
        ...,
        [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
         8.350e+02],
        [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
         8.400e+02],
        [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
         5.600e+02]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2]),
 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7'),
 'DESCR': '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 178 (50 in each of three classes)\n    :Number of Attributes: 13 numeric, predictive attributes and the class\n    :Attribute Information:\n \t\t- Alcohol\n \t\t- Malic acid\n \t\t- Ash\n\t\t- Alcalinity of ash  \n \t\t- Magnesium\n\t\t- Total phenols\n \t\t- Flavanoids\n \t\t- Nonflavanoid phenols\n \t\t- Proanthocyanins\n\t\t- Color intensity\n \t\t- Hue\n \t\t- OD280/OD315 of diluted wines\n \t\t- Proline\n\n    - class:\n            - class_0\n            - class_1\n            - class_2\n\t\t\n    :Summary Statistics:\n    \n    ============================= ==== ===== ======= =====\n                                   Min   Max   Mean     SD\n    ============================= ==== ===== ======= =====\n    Alcohol:                      11.0  14.8    13.0   0.8\n    Malic Acid:                   0.74  5.80    2.34  1.12\n    Ash:                          1.36  3.23    2.36  0.27\n    Alcalinity of Ash:            10.6  30.0    19.5   3.3\n    Magnesium:                    70.0 162.0    99.7  14.3\n    Total Phenols:                0.98  3.88    2.29  0.63\n    Flavanoids:                   0.34  5.08    2.03  1.00\n    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12\n    Proanthocyanins:              0.41  3.58    1.59  0.57\n    Colour Intensity:              1.3  13.0     5.1   2.3\n    Hue:                          0.48  1.71    0.96  0.23\n    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\n    Proline:                       278  1680     746   315\n    ============================= ==== ===== ======= =====\n\n    :Missing Attribute Values: None\n    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners: \n\nForina, M. et al, PARVUS - \nAn Extendible Package for Data Exploration, Classification and Correlation. \nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science. \n\n.. topic:: References\n\n  (1) S. Aeberhard, D. Coomans and O. de Vel, \n  Comparison of Classifiers in High Dimensional Settings, \n  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of  \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Technometrics). \n\n  The data was used with many others for comparing various \n  classifiers. The classes are separable, though only RDA \n  has achieved 100% correct classification. \n  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data)) \n  (All results using the leave-one-out technique) \n\n  (2) S. Aeberhard, D. Coomans and O. de Vel, \n  "THE CLASSIFICATION PERFORMANCE OF RDA" \n  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Journal of Chemometrics).\n',
 'feature_names': ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']}

Next, list the feature names. These are the different characteristics of the wine.

In [94]:
# Your code here:
list(wine.feature_names)
values = wine.values()
values

dict_values([array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
        1.050e+03],
       [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
        1.185e+03],
       ...,
       [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
        8.350e+02],
       [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
        8.400e+02],
       [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
        5.600e+02]]), array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2]), array(['class_0', 'class_1', 'class_2'], dtype='<U7'), '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 178 (50 in each of three classes)\n    :Number of Attributes: 13 numeric, predictive attributes and the class\n    :Attribute Information:\n \t\t- Alcohol\n \t\t- Malic acid\n \t\t- Ash\n\t\t- Alcalinity of ash  \n \t\t- Magnesium\n\t\t- Total phenols\n \t\t- Flavanoids\n \t\t- Nonflavanoid phenols\n \t\t- Proanthocyanins\n\t\t- Color intensity\n \t\t- Hue\n \t\t- OD280/OD315 of diluted wines\n \t\t- Proline\n\n    - class:\n            - class_0\n            - class_1\n            - class_2\n\t\t\n    :Summary Statistics:\n    \n    ============================= ==== ===== ======= =====\n                                   Min   Max   Mean     SD\n    ============================= ==== ===== ======= =====\n    Alcohol:                      11.0  14.8    13.0   0.8\n    Malic Acid:                   0.74  5.80    2.34  1.12\n    Ash:                          1.36  3.23    2.36  0.27\n    Alcalinity of Ash:            10.6  30.0    19.5   3.3\n    Magnesium:                    70.0 162.0    99.7  14.3\n    Total Phenols:                0.98  3.88    2.29  0.63\n    Flavanoids:                   0.34  5.08    2.03  1.00\n    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12\n    Proanthocyanins:              0.41  3.58    1.59  0.57\n    Colour Intensity:              1.3  13.0     5.1   2.3\n    Hue:                          0.48  1.71    0.96  0.23\n    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\n    Proline:                       278  1680     746   315\n    ============================= ==== ===== ======= =====\n\n    :Missing Attribute Values: None\n    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners: \n\nForina, M. et al, PARVUS - \nAn Extendible Package for Data Exploration, Classification and Correlation. \nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science. \n\n.. topic:: References\n\n  (1) S. Aeberhard, D. Coomans and O. de Vel, \n  Comparison of Classifiers in High Dimensional Settings, \n  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of  \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Technometrics). \n\n  The data was used with many others for comparing various \n  classifiers. The classes are separable, though only RDA \n  has achieved 100% correct classification. \n  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data)) \n  (All results using the leave-one-out technique) \n\n  (2) S. Aeberhard, D. Coomans and O. de Vel, \n  "THE CLASSIFICATION PERFORMANCE OF RDA" \n  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Journal of Chemometrics).\n', ['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']])

Print the description of the dataset in the cell below using the `DESCR` attribute of the `wine` variable.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the print function.*

In [95]:
# Your code here:
wine['DESCR']

'.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 178 (50 in each of three classes)\n    :Number of Attributes: 13 numeric, predictive attributes and the class\n    :Attribute Information:\n \t\t- Alcohol\n \t\t- Malic acid\n \t\t- Ash\n\t\t- Alcalinity of ash  \n \t\t- Magnesium\n\t\t- Total phenols\n \t\t- Flavanoids\n \t\t- Nonflavanoid phenols\n \t\t- Proanthocyanins\n\t\t- Color intensity\n \t\t- Hue\n \t\t- OD280/OD315 of diluted wines\n \t\t- Proline\n\n    - class:\n            - class_0\n            - class_1\n            - class_2\n\t\t\n    :Summary Statistics:\n    \n    ============================= ==== ===== ======= =====\n                                   Min   Max   Mean     SD\n    ============================= ==== ===== ======= =====\n    Alcohol:                      11.0  14.8    13.0   0.8\n    Malic Acid:                   0.74  5.80    2.34  1.12\n    Ash:                          1.36  3.23    2.36  0.27\n    Alcalinity of Ash:            10.6  30.0    19.5   3.3\n    Magnesium:                    70.0 162.0    99.7  14.3\n    Total Phenols:                0.98  3.88    2.29  0.63\n    Flavanoids:                   0.34  5.08    2.03  1.00\n    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12\n    Proanthocyanins:              0.41  3.58    1.59  0.57\n    Colour Intensity:              1.3  13.0     5.1   2.3\n    Hue:                          0.48  1.71    0.96  0.23\n    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\n    Proline:                       278  1680     746   315\n    ============================= ==== ===== ======= =====\n\n    :Missing Attribute Values: None\n    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners: \n\nForina, M. et al, PARVUS - \nAn Extendible Package for Data Exploration, Classification and Correlation. \nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science. \n\n.. topic:: References\n\n  (1) S. Aeberhard, D. Coomans and O. de Vel, \n  Comparison of Classifiers in High Dimensional Settings, \n  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of  \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Technometrics). \n\n  The data was used with many others for comparing various \n  classifiers. The classes are separable, though only RDA \n  has achieved 100% correct classification. \n  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data)) \n  (All results using the leave-one-out technique) \n\n  (2) S. Aeberhard, D. Coomans and O. de Vel, \n  "THE CLASSIFICATION PERFORMANCE OF RDA" \n  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Journal of Chemometrics).\n'

#### From the description, we see that all columns are numeric. We also know that there is no missing data 

Let's plot the alcohol content histogram. Recall that we are working with a numpy array and will need to use a matplotlib function to produce a histogram.

In [96]:
# imports
plt.hist(wine.data[:,0])

(array([ 1., 10., 19., 31., 21., 27., 25., 25., 17.,  2.]),
 array([11.03, 11.41, 11.79, 12.17, 12.55, 12.93, 13.31, 13.69, 14.07,
        14.45, 14.83]),
 <a list of 10 Patch objects>)

In [97]:
# Your code here:

# Challenge 2 - Clustering the Internal Dataset

In this portion of the lab, we will cluster the data to find common traits between the different wines. We will use the k-means clustering algorithm to achieve this goal.

#### We start by importing k-means from scikit-learn and then proceed to create 4 clusters.

In [98]:
# imports
from sklearn.cluster import KMeans

In [99]:
# Your code here:
kmeans=KMeans(n_clusters=4)
clusters=kmeans.fit(wine.data)

#### Print the cluster labels.

In [100]:
# Your code here:
clusters.labels_

array([0, 0, 2, 2, 1, 2, 2, 2, 0, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 0, 1, 1,
       0, 0, 0, 0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 0, 0, 0, 2, 2, 3, 1, 3, 1, 3, 3, 1,
       3, 3, 1, 1, 0, 3, 3, 0, 0, 3, 3, 3, 1, 3, 3, 1, 1, 3, 3, 3, 3, 1,
       1, 1, 3, 3, 3, 3, 3, 0, 1, 3, 1, 3, 1, 1, 3, 3, 1, 3, 3, 3, 3, 1,
       1, 3, 1, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3,
       1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 0, 0, 3, 1, 1, 1, 3, 3, 3, 1,
       1, 1, 3, 0, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 3, 1, 1, 1, 0,
       0, 1], dtype=int32)

#### Compute the size of each cluster. This can be done by counting the number of occurrences of each unique label in the list above.

Which is the largest cluster of the 4?

In [101]:
# Your code here:
preds=clusters.fit_predict(wine['data'])
wine['cluster']=preds

In [102]:
# Your answer here:
cero = (wine.cluster==0).sum()
uno = (wine.cluster==1).sum()
dos = (wine.cluster==2).sum()
tres = (wine.cluster==3).sum()
print(cero,uno,dos,tres)
print(cero+uno+dos+tres)


#El cluster numero 2 o en codigo el cluster==1 es el mas grande de todos con 66 datos

59 25 37 57
178

#### Inspect the shape of `wine['data']`

In [103]:
# Your code here:
wine.data.shape

(178, 13)

#### Inspect the first 5 records in `wine['data']`

In [104]:
# Your code here:
wine.data[:5]

array([[1.423e+01, 1.710e+00, 2.430e+00, 1.560e+01, 1.270e+02, 2.800e+00,
        3.060e+00, 2.800e-01, 2.290e+00, 5.640e+00, 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, 1.120e+01, 1.000e+02, 2.650e+00,
        2.760e+00, 2.600e-01, 1.280e+00, 4.380e+00, 1.050e+00, 3.400e+00,
        1.050e+03],
       [1.316e+01, 2.360e+00, 2.670e+00, 1.860e+01, 1.010e+02, 2.800e+00,
        3.240e+00, 3.000e-01, 2.810e+00, 5.680e+00, 1.030e+00, 3.170e+00,
        1.185e+03],
       [1.437e+01, 1.950e+00, 2.500e+00, 1.680e+01, 1.130e+02, 3.850e+00,
        3.490e+00, 2.400e-01, 2.180e+00, 7.800e+00, 8.600e-01, 3.450e+00,
        1.480e+03],
       [1.324e+01, 2.590e+00, 2.870e+00, 2.100e+01, 1.180e+02, 2.800e+00,
        2.690e+00, 3.900e-01, 1.820e+00, 4.320e+00, 1.040e+00, 2.930e+00,
        7.350e+02]])

You now know the data object is a 2-dimensional array in which there are 178 rows and 13 columns. Each row is a data record and each column is a feature.

#### What is the average ash content for each cluster? 

*Hints:* 

* *Ash* is the 3rd column.

* The data object is not a Pandas dataframe so you can't apply `pandas.DataFrame.groupby`. Instead, you can use `np.average`.

In [105]:
# Your code here:
np.average(wine.data[:2])

93.81153846153848

# Challenge 3 - Load and Explore an External Dataset

We will now load an external dataset using Pandas and use scikit learn to explore the data. In this portion of the lab, we will use a [patient dataset from Kaggle](https://www.kaggle.com/miles99/patient-admission-dataset-for-learning-data-mining).

In [106]:
patients = pd.read_csv('../patient-admission-dataset-for-learning-data-mining.csv')

In the next cell, print the first five rows of the data using the `head()` function.

In [107]:
# Your code here:
patients.head()

,id,patient_name,patient_email,doctor_phone,patient_gender,patient_dob,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,patient_nhs_number,doctor_name,appointment_date,patient_show,is_regular_visit,prescribed_medicines,diagnosis
0,1,Celestyna Dillimore,cdillimore0@dion.ne.jp,674-914-1212,Female,10/18/2018,False,True,59,176,8.200152e+09,Sarena Waliszek,5/1/2018,True,True,triamcinolone acetonide,I669
1,2,Meta Michieli,mmichieli1@loc.gov,172-580-3586,Female,2/8/2018,False,True,77,186,NaN,Farris Robinet,12/7/2017,True,True,NaN,NaN
2,3,Cordie Sancto,csancto2@cafepress.com,794-222-5085,Female,10/9/2018,True,True,90,177,6.145594e+09,Kaspar Spitaro,10/5/2018,False,False,NaN,NaN
3,4,Josh De Ambrosis,jde3@amazon.co.jp,856-540-5195,Male,9/10/2018,True,True,70,150,NaN,Rafferty Fowls,10/21/2018,False,True,NaN,NaN
4,5,Delinda Alfonsini,dalfonsini4@opensource.org,938-978-1131,Female,2/26/2018,False,True,82,140,4.804758e+08,Glenna MacNeachtain,11/15/2018,False,False,NaN,NaN

Next, print the column types and check which columns have been misclassified by pandas.

In [108]:
# Your code here:
patients.dtypes

id                        int64
patient_name             object
patient_email            object
doctor_phone             object
patient_gender           object
patient_dob              object
patient_diabetic           bool
patient_allergic           bool
patient_weight_kg         int64
patient_height_sm         int64
patient_nhs_number      float64
doctor_name              object
appointment_date         object
patient_show               bool
is_regular_visit           bool
prescribed_medicines     object
diagnosis                object
dtype: object

#### We can see that none of the date columns have been correctly classified. Also, some columns contain qualitative data that can be dropped.


First, transform the `patient_dob` and `appointment_date` columns to datetime using the `pd.to_datetime` function.

In [109]:
# Your code here:
pd.to_datetime(patients.patient_dob)
pd.to_datetime(patients.appointment_date)

0     2018-05-01
1     2017-12-07
2     2018-10-05
3     2018-10-21
4     2018-11-15
         ...
995   2018-01-12
996   2017-12-12
997   2018-05-17
998   2017-12-15
999   2018-07-10
Name: appointment_date, Length: 1000, dtype: datetime64[ns]

Next, drop the `id`, `patient_name`, `patient_email`, `patient_nhs_number`, and `doctor_phone` columns. These are not quantitative columns and will not contribute to our analysis.

In [110]:
# Your code here:
patients.drop(columns=['id', 'patient_name', 'patient_email', 'patient_nhs_number', 'doctor_phone'], inplace=True)

Now we work on the missing data. Most ML algorithms will not perform as intended if there are missing data.

In the cell below, count how many rows contain missing data in each column. You should see three columns contain missing data:

* `doctor_name`: 58 missing data
* `prescribed_medicines`: 488 missing data
* `diagnosis`: 488 missing data

In [111]:
# Your code here:
patients.isnull().sum()

patient_gender            0
patient_dob               0
patient_diabetic          0
patient_allergic          0
patient_weight_kg         0
patient_height_sm         0
doctor_name              58
appointment_date          0
patient_show              0
is_regular_visit          0
prescribed_medicines    488
diagnosis               488
dtype: int64

The main issues are found in the `prescribed_medicines` and `diagnosis` columns. Can we simply drop these rows?

The answer is not yet. Because when there are missing data in these columns, it doesn't mean the data records are broken. Instead, it means no medication was prescribed and no diagnosis was recorded. Therefore, once we fill in the missing data these columns will be fine. But we'll revisit these columns and decide whether we will eventually drop them when we look at how many unique values are there in these categorical columns.  

For the `prescribed_medicines` column, fill the missing values with the value `no prescription`. For the `diagnosis` column, fill the missing values with `no diagnosis`.

*Hint: Use [`pandas.DataFrame.fillna`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html).*

In [112]:
# Your code here:
patients.prescribed_medicines.fillna('no prescription', inplace=True)
patients.diagnosis.fillna('no diagnosis', inplace=True)

How about `doctor_name`? Since a doctor visit without a doctor name might not be meaningful, we will drop these rows.

In [113]:
# Your code here:
patients.dropna(axis=0,inplace=True)
patients.isnull().sum()
patients.dtypes

patient_gender          object
patient_dob             object
patient_diabetic          bool
patient_allergic          bool
patient_weight_kg        int64
patient_height_sm        int64
doctor_name             object
appointment_date        object
patient_show              bool
is_regular_visit          bool
prescribed_medicines    object
diagnosis               object
dtype: object

#### Another step in preprocessing that can be performed by scikit-learn is label encoding. 

We have 4 columns that are of `bool` type. We would like to convert them to an integer column containing either zero or one. We can do this using [scikit-learn's label encoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html).

In the cell below, import the label encoder and encode the 4 boolean columns (*patient_diabetic*, *patient_allergic*, *patient_show*, *is_regular_visit*) with `0` and `1`.

In [114]:
# Your code here:

patients[['patient_diabetic', 'patient_allergic', 'patient_show', 'is_regular_visit']] = patients[['patient_diabetic', 'patient_allergic', 'patient_show', 'is_regular_visit']].astype(int)

Print the data dtypes to confirm those four `bool` columns are converted to `int64`.

In [115]:
# Your code here:
patients.dtypes
patients.head()

,patient_gender,patient_dob,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,doctor_name,appointment_date,patient_show,is_regular_visit,prescribed_medicines,diagnosis
0,Female,10/18/2018,0,1,59,176,Sarena Waliszek,5/1/2018,1,1,triamcinolone acetonide,I669
1,Female,2/8/2018,0,1,77,186,Farris Robinet,12/7/2017,1,1,no prescription,no diagnosis
2,Female,10/9/2018,1,1,90,177,Kaspar Spitaro,10/5/2018,0,0,no prescription,no diagnosis
3,Male,9/10/2018,1,1,70,150,Rafferty Fowls,10/21/2018,0,1,no prescription,no diagnosis
4,Female,2/26/2018,0,1,82,140,Glenna MacNeachtain,11/15/2018,0,0,no prescription,no diagnosis

#### The last step is to handle the `object` data.

There are 4 `object` columns now: `patient_gender`, `doctor_name`, `prescribed_medicines`, and `diagnosis`. The gender columns

In the next cell, check the unique values of each of the `object` columns using `value_counts()`.

In [116]:
# Your code here:
print(patients.patient_gender.value_counts().unique())
print(patients.doctor_name.value_counts().unique())
print(patients.prescribed_medicines.value_counts().unique())
print(patients.diagnosis.value_counts().unique())

[476 466]
[74 57 55 53 51 49 48 47 46 45 42 40 38]
[457   8   6   5   4   3   2   1]
[457   2   1]

#### The number of unique values is large for all three columns except `patient_gender`. We will handle these columns differently.

For `diagnosis`, there are too many unique values which will make ML difficult. However, we can re-encode the values to either with or without diagnosis. Remember at an earlier step we filled in the missing values of this column with *no diagnosis*? We can re-encode *no diagnosis* to `0` and all other values to `1`. In this way we can tremendously simply this column.

For `prescribed_medicines`, we can drop this column because it is perfectly correlated with `diagnosis`. Whenever there is no diagnosis, there is no prescribed medicine. So we don't need to keep this duplicated data.

How about `doctor_name`? There are not excessive unique values but still quite many (19). We may either drop or keep it but keeping it will make the analysis more complicated. So due to the length of this lab let's drop it.

How about `gender`? This one is easy. Just like re-encoding the boolean values, we can re-encode gender to `0` and `1` because there are only 2 unique values.

In the next cells, do the following:

1. Create a new column called `diagnosis_int` that has `0` and `1` based on the values in `diagnosis`.

1. Create a new column called `patient_gender_int` that has `0` and `1` based on the values in `patient_gender`.

1. Drop the following columns: `doctor_name`, `diagnosis`, `prescribed_medicines`, and `patient_gender`.

In [117]:
# Your code here:
patients['patient_gender_int']=np.where(patients['patient_gender']=='Male',1,0)

In [118]:
patients['diagnosis_int']=np.where(patients['diagnosis']=='no diagnosis',0,1)

In [119]:
patients.drop(columns=['doctor_name'],inplace=True)
patients.head()

,patient_gender,patient_dob,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,appointment_date,patient_show,is_regular_visit,prescribed_medicines,diagnosis,patient_gender_int,diagnosis_int
0,Female,10/18/2018,0,1,59,176,5/1/2018,1,1,triamcinolone acetonide,I669,0,1
1,Female,2/8/2018,0,1,77,186,12/7/2017,1,1,no prescription,no diagnosis,0,0
2,Female,10/9/2018,1,1,90,177,10/5/2018,0,0,no prescription,no diagnosis,0,0
3,Male,9/10/2018,1,1,70,150,10/21/2018,0,1,no prescription,no diagnosis,1,0
4,Female,2/26/2018,0,1,82,140,11/15/2018,0,0,no prescription,no diagnosis,0,0

In [120]:
patients.drop(columns=['patient_gender'],inplace=True)
patients.drop(columns=['diagnosis'],inplace=True)
patients.head()

,patient_dob,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,appointment_date,patient_show,is_regular_visit,prescribed_medicines,patient_gender_int,diagnosis_int
0,10/18/2018,0,1,59,176,5/1/2018,1,1,triamcinolone acetonide,0,1
1,2/8/2018,0,1,77,186,12/7/2017,1,1,no prescription,0,0
2,10/9/2018,1,1,90,177,10/5/2018,0,0,no prescription,0,0
3,9/10/2018,1,1,70,150,10/21/2018,0,1,no prescription,1,0
4,2/26/2018,0,1,82,140,11/15/2018,0,0,no prescription,0,0

Let's look at the head again to ensure the re-encoding and dropping are successful:

In [121]:
# Your code here:
patients.drop(columns=['prescribed_medicines'],inplace=True)

An interesting observation is that all patients are no older than 2 years. However, their weights and heights indicate that they are adults. This cannot be true. Therefore, we can either trust the weight and height columns or the DOB column. Since there are other columns that indicate that these are adults (they have emails, some have diabetes) we will drop the `patient_dob` column. We will also drop the `appointment_date` column since it has too many unique values to transform to a dummy variable. Drop the two columns in the cell below.

In [122]:
# Your code here:
patients.drop(columns=['patient_dob', 'appointment_date'],inplace=True)
patients.head()

,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,patient_show,is_regular_visit,patient_gender_int,diagnosis_int
0,0,1,59,176,1,1,0,1
1,0,1,77,186,1,1,0,0
2,1,1,90,177,0,0,0,0
3,1,1,70,150,0,1,1,0
4,0,1,82,140,0,0,0,0

#### Our data is now ready for clustering. Let's use k-means again.

We start by initializing and fitting a model in the cell below. Call this model patients_cluster.

In [123]:
# Your code here:
kmeans=KMeans(n_clusters=4)
patients_clusters=kmeans.fit(patients)

Attach the labels to the dataframe. Do this by accessing the `labels_` in the `patients_cluster` model and assign them to a new column in `patients` that you will call `labels`.

In [124]:
# Your code here:
patients_clusters.labels_

array([1, 1, 3, 2, 0, 3, 3, 2, 0, 0, 0, 2, 1, 0, 1, 2, 1, 1, 1, 2, 0, 2,
       3, 2, 1, 3, 1, 1, 3, 2, 1, 0, 2, 3, 1, 3, 2, 3, 0, 1, 1, 1, 1, 1,
       1, 2, 3, 1, 3, 2, 0, 3, 1, 1, 2, 0, 3, 1, 3, 3, 2, 3, 2, 0, 1, 3,
       3, 0, 0, 1, 2, 3, 2, 2, 0, 3, 2, 0, 0, 1, 0, 3, 1, 1, 2, 2, 3, 3,
       1, 2, 3, 3, 1, 2, 3, 1, 3, 1, 3, 0, 1, 1, 2, 1, 2, 3, 3, 2, 1, 3,
       3, 0, 1, 2, 1, 3, 0, 1, 2, 2, 2, 3, 3, 3, 1, 3, 0, 2, 0, 0, 3, 1,
       1, 1, 0, 1, 1, 3, 0, 0, 2, 2, 2, 2, 3, 0, 1, 1, 2, 1, 3, 2, 3, 3,
       2, 2, 2, 1, 3, 1, 3, 3, 2, 2, 2, 0, 1, 2, 3, 2, 0, 3, 3, 1, 3, 1,
       3, 1, 1, 0, 0, 3, 0, 3, 1, 2, 2, 0, 1, 3, 3, 3, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 2, 0, 1, 1, 3, 1, 2, 1, 1, 0, 3, 0, 0, 2, 0, 0, 2, 2, 0,
       2, 3, 2, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 3, 1, 2, 0, 2, 0,
       3, 0, 3, 3, 3, 0, 1, 2, 1, 2, 0, 3, 1, 1, 1, 0, 1, 0, 2, 1, 2, 0,
       1, 3, 0, 2, 2, 1, 2, 1, 3, 2, 3, 0, 2, 3, 2, 3, 1, 3, 1, 1, 2, 1,
       0, 0, 3, 1, 2, 1, 0, 1, 0, 1, 2, 1, 1, 3, 3, 2, 2, 3, 0, 3, 3, 2,
       2, 3, 3, 2, 1, 0, 1, 0, 2, 0, 3, 3, 1, 1, 1, 3, 1, 0, 3, 2, 3, 1,
       3, 1, 1, 1, 3, 1, 3, 1, 0, 1, 3, 3, 1, 0, 2, 3, 1, 2, 3, 1, 2, 0,
       3, 1, 3, 1, 3, 2, 3, 0, 2, 2, 2, 3, 0, 1, 2, 0, 2, 0, 2, 3, 0, 1,
       0, 3, 3, 0, 1, 1, 1, 1, 1, 2, 0, 3, 1, 2, 1, 1, 1, 0, 0, 0, 0, 2,
       3, 2, 2, 3, 0, 0, 1, 2, 3, 0, 0, 0, 3, 2, 0, 0, 0, 0, 1, 2, 0, 0,
       1, 2, 3, 2, 1, 2, 0, 3, 2, 1, 3, 2, 3, 0, 0, 0, 3, 3, 0, 3, 1, 2,
       1, 2, 0, 3, 3, 1, 3, 3, 0, 3, 0, 2, 1, 0, 2, 0, 2, 3, 0, 0, 0, 2,
       2, 3, 3, 0, 0, 3, 3, 1, 3, 1, 0, 3, 2, 1, 0, 1, 3, 0, 0, 2, 1, 3,
       3, 1, 1, 0, 2, 0, 1, 0, 0, 2, 3, 3, 1, 0, 3, 1, 3, 2, 2, 0, 3, 1,
       0, 1, 0, 3, 2, 3, 0, 2, 1, 1, 2, 0, 0, 1, 1, 1, 3, 1, 0, 3, 1, 2,
       3, 1, 3, 1, 1, 1, 2, 0, 2, 3, 3, 3, 2, 0, 1, 2, 0, 3, 3, 1, 1, 3,
       3, 2, 1, 1, 0, 1, 2, 3, 1, 0, 3, 2, 3, 2, 3, 1, 1, 1, 1, 0, 1, 0,
       3, 3, 3, 2, 3, 1, 1, 2, 2, 3, 1, 0, 2, 3, 3, 1, 3, 3, 3, 3, 0, 1,
       2, 2, 2, 0, 2, 0, 1, 3, 2, 1, 3, 0, 2, 0, 0, 1, 0, 3, 0, 3, 2, 3,
       2, 0, 0, 2, 0, 3, 2, 2, 3, 3, 2, 2, 3, 3, 3, 0, 0, 1, 2, 1, 0, 0,
       2, 3, 0, 2, 3, 2, 2, 2, 3, 3, 3, 1, 3, 0, 2, 0, 3, 0, 0, 3, 2, 0,
       2, 1, 1, 0, 2, 2, 1, 1, 1, 1, 2, 2, 0, 1, 2, 3, 0, 1, 0, 0, 3, 3,
       2, 3, 3, 3, 3, 0, 1, 2, 3, 1, 0, 1, 1, 1, 3, 2, 2, 0, 3, 2, 2, 1,
       3, 0, 3, 2, 3, 1, 3, 1, 1, 1, 3, 3, 0, 3, 1, 0, 3, 0, 2, 3, 3, 3,
       1, 1, 3, 2, 1, 0, 3, 1, 3, 0, 0, 1, 2, 2, 3, 2, 2, 1, 0, 3, 2, 3,
       2, 0, 2, 2, 0, 3, 1, 3, 2, 0, 1, 3, 3, 3, 2, 3, 2, 0, 0, 2, 3, 1,
       2, 1, 2, 0, 0, 1, 2, 3, 0, 2, 1, 3, 1, 3, 2, 3, 1, 1, 0, 2, 2, 2,
       2, 3, 3, 1, 1, 3, 3, 0, 0, 3, 1, 0, 0, 2, 3, 3, 3, 3, 1, 2, 2, 0,
       0, 1, 2, 0, 2, 0, 0, 2, 0, 3, 2, 1, 1, 1, 2, 1, 1, 0, 3, 2, 2, 0,
       1, 3, 1, 2, 0, 3, 2, 0, 0, 2, 3, 2, 2, 3, 0, 3, 3, 0, 2, 2, 1, 0,
       3, 2, 2, 2, 2, 0, 3, 2, 2, 3, 1, 1, 2, 2, 0, 3, 3, 3, 0, 3, 3, 0,
       1, 0, 2, 0, 0, 0, 0, 1, 0, 3, 2, 2, 0, 3, 2, 2, 3, 0, 1, 3, 0, 3,
       2, 1, 0, 2, 2, 3, 1, 0, 3, 1, 3, 2, 0, 2, 2, 3, 2, 1, 2, 0, 2, 3,
       0, 1, 3, 2, 2, 0, 2, 1, 2, 0, 2, 1, 1, 0, 2, 3, 2, 0], dtype=int32)

In [125]:
preds=patients_clusters.fit_predict(patients)
len(preds)
patients['patients_clusters']=preds

In [126]:
patients.groupby(['patients_clusters']).mean()

,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,patient_show,is_regular_visit,patient_gender_int,diagnosis_int
patients_clusters,,,,,,,,
0,0.552511,0.525114,97.557078,153.319635,0.488584,0.502283,0.520548,0.593607
1,0.492063,0.488095,94.063492,178.686508,0.503968,0.531746,0.456349,0.511905
2,0.508333,0.533333,62.900000,176.954167,0.475000,0.495833,0.454167,0.454167
3,0.506494,0.493506,65.432900,152.354978,0.510823,0.558442,0.554113,0.506494

Now using a `groupby`, find the mean of every variable in `patients` and group by the `labels` column. This summary will allow us to see how the patients differ between the clusters. Your output should look similar to the image below.

![groupby mean](../groupby-mean.png)

Additionally, add a comment to describe which columns have the largest difference between clusters.

In [127]:
# Your comment here:
#The columns that have the largest differences are patient_weight_kg and patient_height_sm

# Bonus Challenge: Visualize K-Means Clusters

How did k-means cluster the data? You can obtain an intuitive view with a scatter plot. Generate a 2-d cluster plot below using `matplotlib`. You need to choose 2 of the features from your cleaned and transformed dataset, and use color to represent the cluster label generated from k-means.

If the scatter plot does not make any sense to you, it means the features you chose to visualize are not the right ones. You should be able to see 4 clear clusters with different colors in your visualization that suggests how k-means had clustered your data.

![Cluster Visualization](../clusters.png)

In [128]:
# Your code here:

Additionally, you can visualize the clusters in 3-D scatter plot. Give it a try below.

In [89]:
# Your code here: