# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import re

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set
pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [3]:
# enter your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [29]:
# enter your code here
a = pokemon['Type 1']
b = pokemon['Type 2']
tipo1 = np.array(a)
tipo2 = np.array(b)

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [30]:
# enter your code here
pokemon.replace(to_replace='VenusaurMega Venusaur',value = 'Mega Venusaur', regex = True, inplace = True)
pokemon.replace(to_replace='CharizardMega Charizard X',value = 'Mega Charizard X', regex = True, inplace = True)
# test transformed data

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [31]:
# enter your code here
pokemon['A/DRatio'] = pokemon.Attack/pokemon.Defense

### Identify the pokemon with the highest `A/D Ratio`

In [32]:
# enter your code here
stronger = pokemon['A/DRatio'].max()
pokemon.loc[pokemon['A/DRatio']==stronger]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,A/DRatio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0,9.0

### Identify the pokemon with the lowest A/D Ratio

In [33]:
# enter your code here
low = pokemon['A/DRatio'].min()
pokemon.loc[pokemon['A/DRatio']==low]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,A/DRatio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478,0.043478

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [60]:
# enter your code here
pokemon['ComboType'] = pokemon['Type 1'] + pokemon['Type 2']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,A/DRatio,Combo Type,ComboType
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,1.000000,GrassPoison,GrassPoison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,0.984127,GrassPoison,GrassPoison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,0.987952,GrassPoison,GrassPoison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,0.813008,GrassPoison,GrassPoison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,1.209302,NaN,NaN

In [65]:
pokemon['ComboType'].value_counts

<bound method IndexOpsMixin.value_counts of 0       GrassPoison
1       GrassPoison
2       GrassPoison
3       GrassPoison
4               NaN
           ...
795       RockFairy
796       RockFairy
797    PsychicGhost
798     PsychicDark
799       FireWater
Name: ComboType, Length: 800, dtype: object>

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [64]:
# enter your code here
pokemon.sort_values(['A/DRatio'],ascending = False).head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,A/DRatio,Combo Type,ComboType
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,9.000,NaN,NaN
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,4.500,WaterDark,WaterDark
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,3.750,BugPoison,BugPoison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,3.125,NaN,NaN
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,3.000,WaterDark,WaterDark

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [62]:
# enter your code here
a = np.array(pokemon.sort_values(['A/DRatio'],ascending = False).head(5))
a

array([[386, 'DeoxysAttack Forme', 'Psychic', nan, 600, 50, 180, 20, 180,
        20, 150, 3, True, 9.0, 9.0, nan, nan],
       [318, 'Carvanha', 'Water', 'Dark', 305, 45, 90, 20, 65, 20, 65, 3,
        False, 4.5, 4.5, 'WaterDark', 'WaterDark'],
       [15, 'BeedrillMega Beedrill', 'Bug', 'Poison', 495, 65, 150, 40,
        15, 80, 145, 1, False, 3.75, 3.75, 'BugPoison', 'BugPoison'],
       [408, 'Cranidos', 'Rock', nan, 350, 67, 125, 40, 30, 30, 58, 4,
        False, 3.125, 3.125, nan, nan],
       [319, 'Sharpedo', 'Water', 'Dark', 460, 70, 120, 40, 95, 40, 95,
        3, False, 3.0, 3.0, 'WaterDark', 'WaterDark']], dtype=object)

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [67]:
# enter your code here
print(pokemon.loc[pokemon['ComboType'] == 'WaterDark'].mean())
print(pokemon.loc[pokemon['ComboType'] == 'BugPoison'].mean())
print(pokemon.loc[pokemon['ComboType'] == 'RockFairy'].mean())
print(pokemon.loc[pokemon['ComboType'] == 'GrassPoison'].mean())

#             347.666667
Total         493.833333
HP             69.166667
Attack        120.000000
Defense        65.166667
Sp. Atk        88.833333
Sp. Def        63.500000
Speed          87.166667
Generation      3.166667
Legendary       0.000000
A/D Ratio       2.291949
A/DRatio        2.291949
dtype: float64
#             199.166667
Total         347.916667
HP             53.750000
Attack         68.333333
Defense        58.083333
Sp. Atk        42.500000
Sp. Def        59.333333
Speed          65.916667
Generation      2.333333
Legendary       0.000000
A/D Ratio       1.315989
A/DRatio        1.315989
dtype: float64
#             713.666667
Total         600.000000
HP             50.000000
Attack        103.333333
Defense       136.666667
Sp. Atk       103.333333
Sp. Def       136.666667
Speed          70.000000
Generation      6.000000
Legendary       0.666667
A/D Ratio       0.818182
A/DRatio        0.818182
dtype: float64
#             177.333333
Total         414.066667
HP             64.866667
Attack         70.533333
Defense        62.533333
Sp. Atk        87.133333
Sp. Def        75.333333
Speed          53.666667
Generation      2.066667
Legendary       0.000000
A/D Ratio       1.188405
A/DRatio        1.188405
dtype: float64